#wrapper {
    border: 1px solid #000;

    width: 428px;
    margin: auto;
}

#main {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding: 20px;
}

#noother1 {
    display: flex;
    justify-content: space-between;

    .img {
        height: 500%;
    }
}

.sign_up_link {

    width: 90%;
    margin: auto;
    max-width: 22em;

    text-align: center;
    font-size: 2em;
    position: relative;
    padding: 1em;
    box-sizing: border-box;

    $border: 5px;
    color: #FFF;
    background: white;
    background-clip: padding-box;
    /* !importanté */
    border: solid $border transparent;
    /* !importanté */
    border-radius: 3em;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        /* !importanté */
        border-radius: inherit;
        /* !importanté */
        background: linear-gradient(45deg, red, rgb(255, 50, 0), rgb(255, 100, 0), rgb(255, 160, 0), rgb(205, 200, 0))
    }
}

//     height: 30px;
//     width: 150px;
//     padding: 10px;
//     border: 4px solid gr;
//     border-radius: 30px;
//     border
// }

.logos {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(2, 50px);
    gap: 20px 50px;

    justify-content: space-evenly;

    border: 1px solid black; // try border-left and border-right

    .img {
        border-color: solid 2 px red;
        ;
    }
}

.griditem {
    border-color: solid 2 px red;
}

.early-bird {
    background-image: url(./background.svg);
    background-size: 100% 100%;
}

// #footer_menu {
//     display: flex;
//     justify-content: space-between;
// }

.footer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-content: space-evenly;
}

.footer3 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding: 20px;
}