#wrapper {
    border: 1px solid #000;

    width: 428px;
    margin: auto;
}

#main {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding: 20px;
}

#logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 50px;
}

.early-bird {
    background-color: aqua;
}