html {
    font-family: "Helvetica";
    margin: auto;
}

#wrapper {
    width: 428px;
    margin: auto;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#main {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding: 20px;
}

.noother {
    padding: 20px;
    margin-bottom: 50px;

    .align1 {
        width: 75%;
        font-size: 1.5em;

    }

    img {

        float: right;
        overflow: hidden;
        object-fit: cover;
        object-position: left;
        width: 200px;
        height: 400px;
        margin: -100px -21px 0px -200px;

        padding: 0px;
    }
}

h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 0px;
}

.sign_up_link {

    width: 50%;
    max-width: 22em;
    text-align: center;
    font-size: 2em;
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    $border: 5px;
    color: #FFF;
    background: white;
    background-clip: padding-box;

    border: solid transparent;

    border-radius: 60px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        /* !importanté */
        border-radius: inherit;
        /* !importanté */
        background: linear-gradient(45deg, red, rgb(255, 50, 0), rgb(255, 100, 0), rgb(255, 160, 0), rgb(205, 200, 0))
    }
}

.early-bird {
    //height: 300px;
    background: linear-gradient(to right, rgb(246, 98, 98), rgb(244, 146, 81), rgb(188, 188, 93));
    font-size: 1.5em;
    padding: 20px;

}

h3 {
    font-size: 2em;
    font-weight: 400;
    padding-top: 50px;
    ;
}

.logos {

    padding: 20px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(2, 50px);
    gap: 20px 50px;

    justify-content: space-evenly;

    img {
        width: 170px;
        height: 50px;
        object-fit: contain;
        object-position: left;
    }


}

.not_important {
    display: none;
}

#auction {
    font-size: 1.5em;
    padding: 20px;

}

.launching_soon {
    color: pink;
    font-weight: 800;
}

.noother2 {
    padding: 20px;
    margin-bottom: 50px;

    .align2 {
        width: 60%;
        font-size: 1.5em;

    }

    img {

        float: right;
        overflow: hidden;
        object-fit: cover;
        object-position: left;
        width: 180px;
        height: 500px;


        padding: 0px;
    }
}

.footer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-content: space-evenly;
}

.footer3 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding: 20px;
}